In [1]:
import pandas as pd

In [19]:
df=pd.read_csv('UNData.csv')
drop_columns = ['Year','Footnotes','Source']

In [20]:
def undata(df_un,drop_columns=None,Year='latest'):
    
    if Year=='latest':
        df=df_un[df_un.Year==max(df_un.Year)].copy()
    else:
        df=df_un[df_un.Year==Year].copy
        
    if drop_columns != None:
        df.drop(drop_columns,axis='columns',inplace=True)

    return df


def clean_undata(df_un):
    
    df=pd.DataFrame([])
    for country in df_un['Country/Region'].unique():
        df_country = df_un[df_un['Country/Region']==country]
        df=pd.concat([df,df_country.pivot(index='Country/Region', columns='Series', values='Value').reset_index()])
        df=df.fillna(value=0)
    
    return df

In [21]:
df_un=undata(df,drop_columns)
df_cleaned = clean_undata(df_un)

In [22]:
df_cleaned.tail(20)

Series,Country/Region,Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Population mid-year estimates for females (millions),Population mid-year estimates for males (millions),Sex ratio (males per 100 females)
0,Turkmenistan,30.7918,8.1006,12.8343,6.0312,3.0619,2.9693,96.9768
0,Turks and Caicos Islands,0.0000,0.0000,38.8979,0.0370,0.0000,0.0000,0.0000
0,Tuvalu,0.0000,0.0000,383.3000,0.0115,0.0000,0.0000,0.0000
0,Uganda,46.0159,3.2269,228.9225,45.7410,23.1944,22.5466,97.2070
0,Ukraine,15.9905,23.6434,75.4915,43.7338,23.4706,20.2631,86.3341
0,United Arab Emirates,14.8141,3.1447,118.3062,9.8904,3.0541,6.8363,223.8453
0,United Kingdom,17.6773,24.4057,280.6019,67.8860,34.3436,33.5424,97.6672
0,United Rep. of Tanzania,43.5544,4.2309,67.4353,59.7342,29.8831,29.8511,99.8929
0,United States of America,18.3717,22.8753,36.1854,331.0027,167.2166,163.7860,97.9484
0,United States Virgin Islands,19.2559,27.6371,298.3571,0.1044,0.0548,0.0496,90.4765
0,Uruguay,20.3350,20.2356,19.8476,3.4737,1.7954,1.6783,93.4803
0,Uzbekistan,28.8000,8.2798,78.6770,33.4692,16.7723,16.6969,99.5507
0,Vanuatu,38.4102,5.8061,25.1965,0.3071,0.1515,0.1557,102.7928
0,Venezuela (Boliv. Rep. of),27.2627,12.1134,32.2385,28.4359,14.4510,13.9849,96.7748
0,Viet Nam,23.1940,12.3154,313.9245,97.3386,48.7403,48.5983,99.7085
0,Wallis and Futuna Islands,0.0000,0.0000,82.5071,0.0116,0.0000,0.0000,0.0000
0,Western Sahara,27.1911,6.3487,2.2456,0.5973,0.2851,0.3123,109.5380
0,Yemen,38.8322,4.6384,56.4918,29.8260,14.8010,15.0250,101.5134
0,Zambia,44.0174,3.4242,24.7299,18.3840,9.2810,9.1030,98.0827
0,Zimbabwe,41.9111,4.6319,38.4204,14.8629,7.7709,7.0920,91.2635

In [2]:
import pandas as pd

In [2]:
df=pd.read_csv('GeoLite2-Country-Locations-en.csv')
label_map = pd.read_csv('label_map.csv',header=None,index_col=0)
label_map_dict = label_map.loc[label_map[2] == 'country'][1].to_dict()

df = df[['geoname_id','country_iso_code','country_name']]
df['geoip_name']=df['country_name']

df['country_name']=df['country_name'].transform(lambda x:label_map_dict[x] if x in label_map_dict.keys() else x)
df['un_name']=df['country_name']

In [3]:
# df.to_csv('isocode_data.csv',index=False)

In [29]:
df_iso=pd.read_csv('isocode_data.csv')
df_countries=pd.read_csv('countries_table.csv')

In [30]:
countries_not_in_geoip = []
geoip_not_in_countries = []
countries_not_in_undata = []

for country in df_iso.country_name.values:
    if country in df_countries.Country.values:
        pass
    else:
        geoip_not_in_countries.append(country)
        
    if country in df_cleaned['Country/Region'].values:
        pass
    else:
        countries_not_in_undata.append(country)

In [31]:
geoip_not_in_countries

['Turkmenistan',
 'North Korea',
 'Nauru',
 'Western Sahara',
 'Kiribati',
 'Tonga',
 'Antarctica']

In [32]:
countries_not_in_undata

['Iran',
 'Tanzania',
 'Syria',
 'Democratic Republic of Congo',
 'Moldova',
 'Kosovo',
 'Burma',
 'US',
 'Vietnam',
 'Laos',
 'Taiwan',
 'Brunei',
 'South Korea',
 'North Korea',
 'East Timor',
 'Russia',
 'Congo-Brazzaville',
 'Ivory Coast',
 'Czech Republic',
 'Cape Verde',
 'Saint Vincent and the Grenadines',
 'Venezuela',
 'Bolivia',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'West Bank and Gaza',
 'Antarctica']

In [28]:
df_cleaned['Country/Region'].unique()

array(['Total, all countries or areas', 'Africa', 'Northern Africa',
       'Sub-Saharan Africa', 'Eastern Africa', 'Middle Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Latin America & the Caribbean', 'Caribbean',
       'Central America', 'South America', 'Asia', 'Central Asia',
       'Eastern Asia', 'South-central Asia', 'South-eastern Asia',
       'Southern Asia', 'Western Asia', 'Europe', 'Eastern Europe',
       'Northern Europe', 'Southern Europe', 'Western Europe', 'Oceania',
       'Australia and New Zealand', 'Melanesia', 'Micronesia',
       'Polynesia', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurin. State of)', 'Bonaire, St. Eustatius & Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Dem. People's Rep. Korea",
       'Dem. Rep. of the Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Dem. Rep.", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (Fed. States of)', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North Macedonia', 'Northern Mariana Islands', 'Norway',
       'Oman', 'Other non-specified areas', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent & Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United Rep. of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Boliv. Rep. of)', 'Viet Nam',
       'Wallis and Futuna Islands', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)